parameters:
  level: 8
  paths:
    - src
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false

includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon
  - phpstan-baseline.neon
